.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #232323;
  font-family: "Arial", sans-serif;
  color: #ffffff;
}

.rick-morty-background {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.xtrafondos.com/descargar.php?id=5441&resolucion=2560x1440");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}
